html{
box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit; /*наследует значение родителя*/

}

a{
    text-decoration: none; /*у всех ссылок убираем подчеркивание*/
    color: inherit; /*цвет ссылок наследуем от родителя*/
}

ul,
li{
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;

}

body{
    color: #2F3035;
}

.container{
    max-width: 1200px; /*1170+15 паддинг справа + слева = 1200px*/
    padding: 0 15px;
    margin: 0 auto;
    
}